<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.svenfulenchek_wguscheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SvenFulenchek_WGUScheduler">
        <receiver
            android:name=".ui.UI.appBroadcastReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".ui.UI.Instructors.InstructorEditor"
            android:exported="false" />
        <activity
            android:name=".ui.UI.Instructors.InstructorView"
            android:exported="false" />
        <activity
            android:name=".ui.UI.Notes.NotesEditor"
            android:exported="false" />
        <activity
            android:name=".ui.UI.Notes.NotesView"
            android:exported="false" />
        <activity
            android:name=".ui.UI.Assessments.AssessmentEditor"
            android:exported="false" />
        <activity
            android:name=".ui.UI.Courses.CourseView"
            android:exported="false" />
        <activity
            android:name=".ui.UI.Courses.CourseEditor"
            android:exported="false" />
        <activity
            android:name=".ui.UI.Terms.TermView"
            android:exported="false" />
        <activity
            android:name=".ui.UI.Terms.TermEditor"
            android:exported="false" />
        <activity
            android:name=".ui.UI.Assessments.AssessmentView"
            android:exported="false"
            android:parentActivityName=".ui.UI.MainActivity" />
        <activity
            android:name=".ui.UI.Terms.TermsList"
            android:exported="false"
            android:parentActivityName=".ui.UI.MainActivity" />
        <activity
            android:name=".ui.UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>